.post-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.post-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.post-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="datetime-local"], /* Thêm input type "datetime-local" */
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.post-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #3498db;
}

.post-button:hover {
    background-color: #2980b9;
}
